<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
</head>
<body>
{% for error in errors %}
    <p>{{ error }}</p>
{% endfor %}
<form method="post" action="{% url 'Projects:add_project_form' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="title" placeholder="Project Title"></p>
    <p><input type="text" name="abstract" placeholder="Abstract"></p>
    <p><input type="text" name="description" placeholder="Description"></p>
    <p><input type="text" name="significance" placeholder="Significance"></p>
    <p><input type="text" name="additional_details" placeholder="Additional Details"></p>
    <p><input type="file" name="public_proposal" placeholder="Public Proposal"></p>
    <p><input type="text" name="target_amount" placeholder="Target Amount"></p>
    <p><input type="text" name="reference_text" placeholder="Reference Text"></p>
    <p><input type="text" name="link_url" placeholder="Reference Links"></p>
    <p><input type="text" name="bank_ifsc" placeholder="Bank IFSC"></p>
    <p><input type="text" name="account_no" placeholder="Account Number"> </p>
    <p><input type="text" name="beneficiary_name" placeholder="Beneficiary Name"></p>
    <p><input type="text" name="affiliations" placeholder="Affiliations with individuals/institutions"></p>
    <p><input type="text" name="tags" placeholder="Tags"></p>
    <p><input type="file" name="image" placeholder="Project Image"></p>
    <button type="submit" value="Create Project"></button>



</form>
  {% include "footer-internal.html" %}

</body>
</html>