<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitted Collaboration Requests</title>
</head>
<body>
<h2>These are the submitted mentorship requests for {{ project.title }}</h2>
{% for colabs in collaborators %}
<h5>Submitted By:</h5>
<p>Username:{{ colabs.requesting_user.username }}</p>
<p>First Name:{{ colabs.requesting_user.first_name }}   Last Name:{{ colabs.requesting_user.last_name }} </p>
<p>Relevant Qualification:{{ recom.relevant_qualification }} </p>
<p>LinkedIn Profile:<a href="{{ recom.LinkedIn_profile }}">{{ recom.LinkedIn_profile }}</a> </p>
<h5>Body:</h5>
<p>{{ colabs.body }}</p>
    <br><br><br>
    <a href="{% url 'Projects:acceptcolab' colab_id=colabs.collaborator_id %}">Accept</a>
    <a href="{% url 'Projects:rejectcolab' colab_id=colabs.collaborator_id %}">Reject</a>
{% endfor %}
</body>
</html>