<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitted Mentorship Request</title>
</head>
<body>
<h2>These are the submitted mentorship requests for {{ project.title }}</h2>
{% for mentors in mentorships %}
<h5>Submitted By:</h5>
<p>Username:{{ mentors.requesting_user.username }}</p>
<p>First Name:{{ mentors.requesting_user.first_name }}   Last Name:{{ mentors.requesting_user.last_name }} </p>
<p>Relevant Qualification:{{ recom.relevant_qualification }} </p>
<p>LinkedIn Profile:<a href="{{ recom.LinkedIn_profile }}">{{ recom.LinkedIn_profile }}</a> </p>
<h5>Body:</h5>
<p>{{ mentors.body }}</p>
    <br><br><br>
    <a href="{% url 'Projects:acceptmentor' mentor_id=mentors.mentor_id %}">Accept</a>
    <a href="{% url 'Projects:rejectmentor' mentor_id=mentors.mentor_id %}">Reject</a>
{% endfor %}
</body>
</html>