<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitted Recommendations</title>
</head>
<body>
<h2>These are the submitted recommendations for {{ project.title }}</h2>
{% for recom in recommendations %}
<h5>Submitted By:</h5>
<p>Username:{{ recom.writing_user.username }}</p>
<p>First Name:{{ recom.writing_user.first_name }}   Last Name:{{ recom.writing_user.last_name }} </p>
<p>Relevant Qualification:{{ recom.relevant_qualification }} </p>
<p>LinkedIn Profile:<a href="{{ recom.LinkedIn_profile }}">{{ recom.LinkedIn_profile }}</a> </p>
<h5>Body:</h5>
<p>{{ recom.Text }}</p>
    <br><br><br>
    <a href="{% url 'Projects:acceptrecom' recom_id=recom.recom_id %}">Accept</a>
    <a href="{% url 'Projects:rejectrecom' recom_id=recom.recom_id %}">Reject</a>
{% endfor %}
</body>
</html>