<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation</title>
</head>
<body>
<h2>Please Fill The Following Form For The Project:{{ project.title }}</h2>
{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}

<form method="post" action="{% url 'Projects:recommendation_form' project.project_slug %}">
    {% csrf_token %}
    <input type="url" name="LinkedIn_profile" placeholder="Your LinkedIn Profile" required>
    <input type="text" name="relevant_qualification" placeholder="Your Most Relevant Qualification / Position" required>
    <input type="text" name="Text" placeholder="Write The Body Of Your Recommendation Here" required>
    <button type="submit">Recommend</button>
</form>
</body>
</html>