{% autoescape off %}
<body>
<h1>A New Collaboration Request Has Been Received For {{ Project.title }}</h1>
<p>This collaboration request was received from {{ colab.requesting_user }}</p>
<p>Please go to your recommendation view to confirm or reject this recommendation</p>
<p>Or follow the link below to go there directly:</p>
<a href="https://oversight.in{% url 'Projects:collaborator_view' slug=Project.project_slug %}">https://oversight.in{% url 'Projects:collaborator_view' slug=Project.project_slug %}</a>
{% endautoescape %}