{% autoescape off %}
<body>
<h1>A New Recommendation Has Been Received For {{ Project.title }}</h1>
<p>This recommendation was received from {{ recom.writing_user }} who is {{ recom.relevant_qualification }}.</p>
<p>Please go to your recommendation view to confirm or reject this recommendation</p>
<p>Or follow the link below to go there directly:</p>
<a href="https://oversight.in{% url 'Projects:recommendation_view' slug=Project.project_slug %}">https://oversight.in{% url 'Projects:recommendation_view' slug=Project.project_slug %}</a>
{% endautoescape %}