       {% autoescape off %}
        <script language='javascript'>
          $(document).ready(function () {
            $('.ui.dropdown').dropdown();
          });
        </script>

        <header>

            <div class="ui inverted segment">
          <div class="ui inverted secondary menu">
            <a href="{% url 'dashboard' %}" class="header item" style=" color: white ">
              Oversight
            </a>
              {% if usern is not None %}
                  {% if usern != '' %}
            <a href="{% url 'user_profile' username=usern %}" style=" color: white " class="item">
              Profile
            </a>
                      {% endif %}
              {% endif %}
            

            <div class="right menu">
              <!--
                  <a href="#" data-tooltip="You won't be able to enable funding until KYC is completed." data-position="bottom center" style="color: red !important" class="item">
                                <i class="fas fa-exclamation-triangle">&ensp;</i>KYC Pending</a>
                                
                  -->




                        <a href="{% url 'browse_projects' %}" style=" color: white " class="item">
                            <i class="fas fa-globe">&ensp;</i>Explore
                          </a>

                 {% if usern is not None %}
                     {% if usern != '' %}

              <a href="{% url 'Accounts:account_settings' %}" style=" color: white " class="item">
                <i class="fas fa-cogs">&ensp;</i>Settings
              </a>
                         {% endif %}
            {% endif %}

                 {% if usern is not None %}
                     {% if usern != '' %}
              <a class="item" href="{% url 'logout' %}" style=" color: white ">
                <i class="fas fa-sign-out-alt">&ensp;</i>
                Logout
              </a>

                        
                {% else %}
                <a class="item" href="{% url 'login' %}" style=" color: white ">
                    <i class="fas fa-sign-out-alt">&ensp;</i>
                    Login
                  </a>
                {% endif %}
                {% endif %}
            </div>
          </div>
            </div>

        </header>
       {% endautoescape %}