<!DOCTYPE html>
<head>
    <title>Pay</title>
</head>
<body>
<form method="post" enctype="application/x-www-form-urlencoded" action="{% url 'amount_form'%}">
    {% csrf_token %}
<input type="text" required name="amount" placeholder="Amount">
    <button type="submit" value="Pay"></button>
</form>
</body>